// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid $form-element-border-color;
	padding: $form-element-padding;

	// &:hover {

	// }

	&:focus {
		border-color: $form-element-focus-border-color;
		outline: none;
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}


.form {
	position: fixed;
	z-index: 200;
	top: 0;
	right: -480px;
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: rem-calc(14px 15px 40px);
	background-color: $white;
	color: $oxford-blue;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	transition: right 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;

	@include media('>=phone') {
		padding: rem-calc(20px 25px 40px);
	}

	@include media('>=tablet') {
		padding: rem-calc(26px 70px 40px);
	}

	@include media('>=desktop') {
		padding: rem-calc(50px 70px 40px);
	}

	@include media('>=tablet') {
		width: 480px;
	}

	&-title {
		text-align: center;
	}

	h3 {
		font-size: 1.875rem;
		color: inherit;
	}

	.tel {
		display: inline-block;
		vertical-align: top;
		margin-bottom: rem-calc(20px);

		@include media('>=desktop') {
			margin-bottom: rem-calc(32px);
		}

		a {
			color: inherit;

			&:hover {
				color: darken($primary-color, 10%);
			}
		}
	}
	.close {
		position: relative;
		right: -10px;
		display: block;
		margin-left: auto;
		margin-bottom: rem-calc(20px);
		border: none;
		background-color: transparent;

		@include media('>=tablet') {
			right: -50px;
		}

		@include media('>=desktop') {
			top: -20px;
		}

	}

	.modal-active & {
		opacity: 1;
		visibility: visible;
		right: 0;
	}
}

.pardot-form {
	width: 100%;
	height: 60vh;
}

