// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: 600;
	margin: 0 0 0.5em;
	color: $headings-color;
	line-height: 1.4;
}

h1, .h1 {
	font-size: $h1-font-size;

	@include media('>=tablet') {
		font-size: 2.5rem;
	}

	@include media('>=desktop') {
		font-size: 3.75rem;
	}
}

h2, .h2 {
	font-size: $h2-font-size;

	@include media('>=tablet') {
		font-size: 2rem;
	}

	@include media('>=desktop') {
		font-size: 2.25rem;
	}
}

h3, .h3 {
	font-size: $h3-font-size;

	@include media('>=tablet') {
		font-size: 1.5rem
	}

	@include media('>=desktop') {
		font-size: 1.75rem
	}
}

h4, .h4 {
	font-size: $h4-font-size;

	@include media('>=tablet') {
		font-size: 1.25rem
	}
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1.2em;
}

a {
	color: $base-link-color;
	text-decoration: none;
	transition: color 0.3s linear;

	&:hover {
		color: $oxford-blue;
	}
}